* {
	box-sizing: border-box;
}

$light_gray: rgb(218,218,218);

a {
	text-decoration: none;
	border-bottom: solid 1px rgba(21, 108, 186, .2);
	transition: border-color .2s;
	color: rgb(21, 108, 186);

	&:hover, &:active, &:focus {
		border-bottom-color: rgb(21, 108, 186);
	}
}

h1, h2, h3, h4 {
	color: rgb(0,86,159);
	font-size: 17px;
	font-weight: bold;
	padding: 5px;
}

body {
  color: rgba(0,0,0,.8);
  font: 14px/21px 'Source Sans Pro', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
	width: 100%;
	max-width: 900px;
	min-width: 320px;
	margin: 0 auto;
	@media(min-width: 902px) {
		border: solid $light_gray;
		border-width: 0 1px;
	}
}

main {
	padding: 1rem 0;
	padding-top: 2rem;
	
	&>p {
		padding: 0 1rem;
		@media(min-width: 700px) {
			padding: 0 100px;
		}
	}

	p {
		margin: 1rem 0;
	}

	&>ul, &>ol {
		list-style: none;
		padding: 0 1rem;
		@media(min-width: 700px) {
			padding: 0 100px;
		}
	}

	li {
		border-left: 6px solid rgb(218,218,218);
		background: rgb(246,246,246);
		padding: 5px;
		margin-bottom: 10px;
	}
	strong {
		font-weight: 700;
	}

	&>h2,&>h3,&>h4,&>h5,&>h6,&>figure {
		padding: 0 1rem;
		@media(min-width: 700px) {
			padding: 0 100px;
		}
	}

	figure img {
		max-width: 100%;
	}

	&>.tiled-gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.page {
	padding-top: 79px;
}

.post {
	border-bottom: 1px solid $light_gray;
	padding: 1rem 1rem;
	@media(min-width: 700px) {
		padding: 2rem 100px;
	}
	h2>a {
		color: inherit;
	}
}

#map {
	border-top: 1px solid $light_gray;
	border-bottom: 1px solid $light_gray;
	margin: 2rem 0;
	height: 362px;
}

.page .post:last-of-type {
	border-bottom: none;
}

.post h3.entry-title, .page h3.entry-title{
	margin:0 100px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../../assets/headbg.jpg);
	border-bottom: 1px solid $light_gray;

	h1 {
		text-transform: uppercase;
		padding: 60px 0;
		font-size: 30px;
		color: rgb(0,86,159);
		text-shadow: 0 0 2px rgb(221,218,255);
		line-height: .8;
		font-weight: 400;
		text-align: center;
	}
	
	&--home-page {
		justify-content: initial;

		h1 {
			background: url(../../assets/logo.png) no-repeat;
			text-indent: -99999px;
			width: 230px;
			height: 115px;
			margin: 15px auto;
		}
		p {
			margin: 15px auto;
			font-weight: 600;
			color: #00569f;
		}
	}
}

.wp-block-columns.has-2-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	@media(min-width: 700px) {
		padding: 0 100px;
	}

	@media(min-width: 700px) {
		.wp-block-column {
			position: relative;
			width: calc(50% - 1rem);
		}
	}
}

.frontPage .wp-block-columns.has-2-columns {
	padding: 0 2rem;
	.wp-block-column {
		@media(min-width: 700px) {
			width: calc(50% - 1rem);
		}
	}
}

.tiles {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;

	a {
		border-bottom: none;
		margin: 0.5rem;
		img {
			max-width: 225px;
			max-height: 169px;
			border: 1px solid $light_gray;
		}
	}

	@media(min-width: 492px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	@media(min-width: 900px) {
		img {
			width: calc((900px - 5rem - 8px) / 4);
		}
	}
}

.special {
	font-size: 19px;
	color: #87A5BC;
    margin-bottom: 10px;
}

.authorized-service {
	@media(min-width: 1242px) {
		position: fixed;
		top: 95px;
		left: 50%;
		transform: translateX(450px);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 150px;
		margin: 20px;
		padding: 0;
		img {
			margin-top: 20px;
			& + img {
				margin-top: 10px;
			}
		}
	}
}

.back-to-blog {
	margin-bottom: 1rem;
	color: #87A5BC;
	margin: 1rem 1rem 0;
	display: inline-block;
	@media(min-width: 700px) {
		margin: 1rem 100px 0;
	}
}

.topbar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	background-color: #fff;
	border-bottom: 1px solid $light_gray;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media(min-width: 700px) {
		flex-direction: column;
	}

	.info {
		font-size: 12px;
		color: #949494;
		display: flex;
		flex-direction: column;
		padding: 0.2rem 0.6rem;
		.email, .phone {
			color: inherit;
			border-bottom: none;
		}
		.contact .phone {
			margin-left: 0.5rem;
		}
		@media(min-width: 700px) {
			flex-direction: row;
			justify-content: space-between;
			border-bottom: solid 1px $light_gray;
		}

		svg {
			max-height: 12px;
			max-width: 12px;
		}
	}

	.site-menu {
		.logo {
			display: none;
		}
		button {
			background: transparent;
			border: none;
			text-transform: uppercase;
			padding: 1rem;
			font-size: 1rem;
			cursor: pointer;
			font-weight: 700;
			color: #949494;
			svg {
				max-height: 16px;
				max-width: 16px;
			}
		}
		& > ul {
			display: none;
		}
		&.visible > ul {
			display: flex;
		}

		li {
			position: relative;
			margin-left: 10px;
			margin-right: 10px;
			color: #949494;
			height: 41px;

			a {
				display: block;
				color: black;
				padding: 5px;
				border-bottom: 3px solid white;

				&:hover, &:focus {
					border-bottom: 3px solid #F6F6F6;
					color: #87A5BC;
				}
			}
		}
		li>ul {
			display: none;
			position: absolute;
			flex-direction: column;
			bottom: 0;
			left: 0;
			background: white;
			border: solid 1px $light_gray;
			transform: translateY(100%);
			margin-top: 7px;
			box-shadow: 0 2px 6px white;
			white-space: nowrap;
			padding: 4px;

			li {
				height: auto;
				margin: 0;
			}

			a, a:hover, a:focus {
				border-bottom: none;
				padding: 0;
			}
			
		}

		@media(max-width: 699px) {
			&>ul {
				position: absolute;
				left: 0;
				top: 52px;
				flex-direction: column;
				background: white;
				width: 100%;
				border-bottom: 1px solid $light_gray;
			}
			li {
				height: auto;
				margin: 0;
			}
			li.expanded>ul {
				display: flex;
				position: relative;
				transform: none;
				background: #f1f1f1;
				border: none;

				a {
					padding: 5px;
				}
			}
			a {
				padding: 10px;
				text-align: center;
			}
		}
		@media(min-width: 700px) {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 9px 9px 0 9px;
			.logo {
				display: block;
				border-bottom: 0;
			}
			button {
				display: none;
			}
			li:hover>ul {
				display: flex;
			}
			&>ul {
				position: relative;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.frontPage .site-menu {
	@media(min-width: 700px) {
		justify-content: flex-end;
	}
}

.page {
	min-height: 100vh;
}

.footer {
	border-top: solid 1px $light_gray;
	color: #949494;
	padding: 0 8px;
	font-size: 12px;
}

.block--latest-post {
	text-align: center;
	padding: 8px;
	background: rgba(0, 86, 159,.18);
	outline: 1px solid rgba(0, 86, 159,.42);
	margin: 1rem auto;
	color: #156cba;

	a {
		font-weight: bold;
		color: inherit;
	}
}


/* =Tiled Gallery Default Styles
-------------------------------------------------------------- */

.tiled-gallery {
	clear: both;
	margin: 0;
	overflow: hidden;
}
.tiled-gallery img {
	margin: 2px !important; /* Ensure that this value isn't overridden by themes that give content images blanket margins */
}
.tiled-gallery .gallery-group {
	float: left;
	position: relative;
}
.tiled-gallery .tiled-gallery-item {
	float: left;
	margin: 0;
	position: relative;
	width: inherit; /* prevents ie8 bug with inline width styles */
}
.tiled-gallery .gallery-row {
	 overflow: hidden;
	 margin-bottom: 2px;
}
.tiled-gallery .tiled-gallery-item a { /* Needs to reset some properties for theme compatibility */
	background: transparent;
	border: none;
	color: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	width: auto;
}
.tiled-gallery .tiled-gallery-item img,
.tiled-gallery .tiled-gallery-item img:hover { /* Needs to reset some properties for theme compatibility */
	background: none;
	border: none;
	box-shadow: none;
	max-width: 100%;
	padding: 0;
	vertical-align: middle;
}
.tiled-gallery-caption { /* Captions */
	background: #eee;
	background: rgba( 255,255,255,0.8 );
	color: #333;
	font-size: 13px;
	font-weight: 400;
	overflow: hidden;
	padding: 10px 0;
	position: absolute;
		bottom: 0;
	text-indent: 10px;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
.tiled-gallery .tiled-gallery-item-small .tiled-gallery-caption { /* Smaller captions */
	font-size: 11px;
}


/* =Greyscale
-------------------------------------------------------------- */

.tiled-gallery .tiled-gallery-item img.grayscale {
	position: absolute;
		left: 0;
		top: 0;
}
.tiled-gallery .tiled-gallery-item img.grayscale:hover {
	opacity: 0;
}


/* =Circles Layout
-------------------------------------------------------------- */

.tiled-gallery.type-circle .tiled-gallery-item img {
	border-radius: 50% !important; /* Ensure that circles are displayed in themes that add border-radius to all images as a default */
}
.tiled-gallery.type-circle .tiled-gallery-caption {
	display: none;
	opacity: 0;
}